{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic", // 新しい JSX トランスフォームを使用
        "development": true, // 開発モードの場合は true に設定
        "refresh": true // React Refresh を使用する場合は true に設定
      }
    },
    "target": "es2022",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}
